{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- <script type="text/JavaScript" src="recipe.js"></script> -->
    <!-- <script type="text/JavaScript" src="searchbar.js"></script> -->
    <title>About Us</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="css/base.css"> -->
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>


<body style = "background-color:#CBBDB9 ;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Meal-Plan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipe">Recipes</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
      </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/upload/">Upload Recipe</a>
          <a class="dropdown-item" href="#">Filtering Options</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Account Settings</a>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>












        <div class="descriptDisp roundCorners whiteBkg bodyFont">
          <h2 class="headFont" style="padding-left: 390px;">&nbsp;</h2>
<h2 class="headFont" style="padding-left: 390px;"><span style="color: #black;">This is our CI-102-103 Project!<span style="color: #333333;">&nbsp;<img src="https://wordhtml.com/tinymce/js/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></span></span></h2>
<h2>&nbsp;Our Vision :</h2>
<p style="text-align: justify;">Our product concept is a website that allows a user to organize and set up meal plans based on the ingredients that they choose. If the user does not have a certain ingredient, the&nbsp; website can also redirect them to websites or stores that sell this ingredient at the best price. Also, depending on whether the user wants to lose weight, gain muscle, or whatever&nbsp; their goals are that they set for themselves, they can enter in this data as well and the website will output meal plans that accommodate to the user&rsquo;s desires. We will essentially build&nbsp; a platform that allows users to accomplish their goals with healthy and affordable eating habits.</p>
<h2 style="text-align: justify;">&nbsp;Our Mission:</h2>
<p>Build a platform that allows users to accomplish their goals by creating an efficient way to display healthy and affordable meals.</p>
<p>&nbsp;&nbsp;</p>
<div class="gl-display-flex gl-justify-content-space-between">
<h2 class="gl-mt-0 gl-mb-5" data-qa-selector="wiki_page_title" data-testid="wiki_page_title">&nbsp;Success</h2>
<div style="padding-left: 30px;">&nbsp;We define success as creating a viable product that meets all the users needs and is easy to navigate:</div>
<div style="padding-left: 30px;">
<div class="js-wiki-page-content md gl-pt-2" data-qa-selector="wiki_page_content" data-testid="wiki_page_content" data-tracking-context="{&quot;wiki-format&quot;:&quot;markdown&quot;,&quot;wiki-title-size&quot;:7,&quot;wiki-content-size&quot;:317,&quot;wiki-directory-nest-level&quot;:0,&quot;wiki-container-type&quot;:&quot;Project&quot;}">
<ol>
<li dir="auto" data-sourcepos="3:1-3:15"><strong>&nbsp; &nbsp;Nice to Have</strong></li>
<li dir="auto" data-sourcepos="5:1-5:16"><strong>&nbsp; &nbsp;Low Priority</strong></li>
<li dir="auto" data-sourcepos="7:1-7:19"><strong>&nbsp; &nbsp;Medium Priority</strong></li>
<li dir="auto" data-sourcepos="9:1-9:17"><strong>&nbsp; &nbsp;High Priority</strong></li>
<li dir="auto" data-sourcepos="11:1-11:14"><strong>&nbsp; &nbsp;Imperative</strong></li>
</ol>
</div>
<p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<div class="gl-display-flex gl-justify-content-space-between">
<div class="gl-display-flex gl-justify-content-space-between">
<h2 class="gl-mt-0 gl-mb-5" data-qa-selector="wiki_page_title" data-testid="wiki_page_title">Data Privacy</h2>
<div>&nbsp;</div>
</div>
<div class="js-wiki-page-content md gl-pt-2" data-qa-selector="wiki_page_content" data-testid="wiki_page_content" data-tracking-context="{&quot;wiki-format&quot;:&quot;markdown&quot;,&quot;wiki-title-size&quot;:12,&quot;wiki-content-size&quot;:1179,&quot;wiki-directory-nest-level&quot;:0,&quot;wiki-container-type&quot;:&quot;Project&quot;}">
<p dir="auto" data-sourcepos="1:1-1:10"><strong>Issues</strong></p>
<ul dir="auto" data-sourcepos="2:1-5:0">
<li data-sourcepos="2:1-2:55">Concern about log data (cookie data, IP address, etc)</li>
<li data-sourcepos="3:1-3:55">Concern about metadata (name, address, age, sex, etc)</li>
<li data-sourcepos="4:1-5:0">Concern about sharing data (username, password, email)</li>
</ul>
<p dir="auto" data-sourcepos="6:1-6:14"><strong>Statements</strong></p>
<ul dir="auto" data-sourcepos="7:1-10:0">
<li data-sourcepos="7:1-7:86">We do not collect log data, which includes cookie data, IP address and browser data.</li>
<li data-sourcepos="8:1-8:72">We do not collect metadata, which includes name, address, age and sex.</li>
<li data-sourcepos="9:1-10:0">We do not share username and password with any third-parties.</li>
</ul>
<p dir="auto" data-sourcepos="11:1-11:12"><strong>Security</strong></p>
<ul dir="auto" data-sourcepos="12:1-13:0">
<li data-sourcepos="12:1-13:0">We take appropriate physical, administrative and technical measures to protect Personal Data that are consistent with applicable privacy and data security laws and regulations.</li>
</ul>
<p dir="auto" data-sourcepos="14:1-14:33"><strong>How We Use Your Personal Data</strong></p>
<ul dir="auto" data-sourcepos="15:1-17:0">
<li data-sourcepos="15:1-15:54">We will only use your data to maintain your account.</li>
<li data-sourcepos="16:1-17:0">We may also be required to disclose your Personal Data to authorities who can request this information by law that is binding.</li>
</ul>
<p dir="auto" data-sourcepos="18:1-18:45"><strong>Retaining And Deleting Your Personal Data</strong></p>
<ul dir="auto" data-sourcepos="19:1-20:0">
<li data-sourcepos="19:1-20:0">We will only retain your Personal Data for the duration necessary for the purposes identified above, unless there is a legal requirement to maintain it for a longer period.</li>
</ul>
<p dir="auto" data-sourcepos="21:1-21:14"><strong>Your Right</strong></p>
<ul dir="auto" data-sourcepos="22:1-24:17">
<li data-sourcepos="22:1-22:27">Access your Personal Data</li>
<li data-sourcepos="23:1-23:63">Withdraw your consent to the processing of your Personal Data</li>
<li data-sourcepos="24:1-24:17">Use our service</li>
</ul>
</div>
</div>
<div class="js-wiki-page-content md gl-pt-2" data-qa-selector="wiki_page_content" data-testid="wiki_page_content" data-tracking-context="{&quot;wiki-format&quot;:&quot;markdown&quot;,&quot;wiki-title-size&quot;:12,&quot;wiki-content-size&quot;:1179,&quot;wiki-directory-nest-level&quot;:0,&quot;wiki-container-type&quot;:&quot;Project&quot;}">
<p>&nbsp;</p>
<div class="gl-display-flex gl-justify-content-space-between">
<h2 class="gl-mt-0 gl-mb-5" data-qa-selector="wiki_page_title" data-testid="wiki_page_title">Team Charter</h2>
<div>&nbsp;</div>
</div>
<div class="js-wiki-page-content md gl-pt-2" data-qa-selector="wiki_page_content" data-testid="wiki_page_content" data-tracking-context="{&quot;wiki-format&quot;:&quot;markdown&quot;,&quot;wiki-title-size&quot;:12,&quot;wiki-content-size&quot;:1211,&quot;wiki-directory-nest-level&quot;:0,&quot;wiki-container-type&quot;:&quot;Project&quot;}">
<p dir="auto" data-sourcepos="1:1-1:123">Our definition of 'done' is when we have completed a platform that runs efficiently and has satisfied the customer's needs.</p>
<ul class="task-list" dir="auto" data-sourcepos="3:1-10:0">
<li class="task-list-item" data-sourcepos="3:1-3:30"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />Code runs without errors</li>
<li class="task-list-item" data-sourcepos="4:1-4:51"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />Daily tasks have been completed in time frame</li>
<li class="task-list-item" data-sourcepos="5:1-5:64"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />Code runs without producing any medium or high impact bugs</li>
<li class="task-list-item" data-sourcepos="6:1-6:26"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />Code has good syntax</li>
<li class="task-list-item" data-sourcepos="7:1-7:48"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />Code has been approved by other developers</li>
<li class="task-list-item" data-sourcepos="8:1-8:85"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />All approved changes should be updated on the master branch and production file</li>
<li class="task-list-item" data-sourcepos="9:1-10:0"><input class="task-list-item-checkbox" disabled="disabled" type="checkbox" />Should move the completed items on Kanban board</li>
</ul>
<h4 dir="auto" data-sourcepos="11:1-11:17">Working Agreement</h4>
<ul dir="auto" data-sourcepos="12:1-17:0">
<li data-sourcepos="12:1-12:86">We work best together when we use Slack and texting to communicate with each other.</li>
<li data-sourcepos="13:1-13:101">We work best together when we all commit time to contribute and complete each task assigned to us.</li>
<li data-sourcepos="14:1-14:129">We work best together when we can comfortably bring up any problems or concerns that we have during the project to each other.</li>
<li data-sourcepos="15:1-15:112">We work best together when we can easily ask each other questions about any problem we encounter in our task.</li>
<li data-sourcepos="16:1-17:0">We work best together when we can respond to each other within the business day (includes weekends).</li>
</ul>
<p>&nbsp;</p>
<div class="gl-display-flex gl-justify-content-space-between">
<h2 class="gl-mt-0 gl-mb-5" data-qa-selector="wiki_page_title" data-testid="wiki_page_title">Technology Stack</h2>
</div>
<div class="js-wiki-page-content md gl-pt-2" data-qa-selector="wiki_page_content" data-testid="wiki_page_content" data-tracking-context="{&quot;wiki-format&quot;:&quot;markdown&quot;,&quot;wiki-title-size&quot;:16,&quot;wiki-content-size&quot;:41,&quot;wiki-directory-nest-level&quot;:0,&quot;wiki-container-type&quot;:&quot;Project&quot;}">
<ul>
<li dir="auto" data-sourcepos="1:1-1:17">Framework: Django</li>
<li dir="auto" data-sourcepos="3:1-3:22">Database: Handle Later</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
        </div>
    </div>


<!-- ======================================= Footer - Start ========================================================= -->



<footer class="p-3 mb-2 bg-dark text-white">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Do you want an efficient way to create your meal plans? You have come to the right place! Here you can search through recipies based on a diet plan, workout plan, or body type goal of your choice! If you are a chef yourself, you can upload your own recpies as well!</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright.
    
  </div>
  <!-- Copyright -->

</footer>

<!-- ======================================= Footer - End ========================================================= -->






</body>

</html>
