{% extends "editRecipeHome.html" %}

{% block content %}
  <h2>Edit Recipe</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <label for="meal-picture"><b>Meal Picture</b></label> -->
    <!-- <input type="file" name="document"> -->
    <!-- <button type="submit">Upload file</button> -->
    <hr>

    <label for="meal-name"><b>Meal Name</b></label>
    <textarea type="text" name="meal-name" class="form-control">{{meal_name}}</textarea>
    <hr>

    <label for="meal-ingredients"><b>Meal Ingredients</b></label>
    <textarea type="text" name="meal-ingredients" class="form-control">{{ingredients}}</textarea>
    <hr>

    <label for="meal-instructions"><b>Meal Instructions</b></label>
    <textarea type="text" name="meal-instructions" class="form-control">{{instructions}}</textarea>
    <hr>

    <button type="submit">Save recipe</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
{% endblock %}
<!--Source Code: https://github.com/sibtc/django-upload-example/tree/master/mysite -->
